.main-container-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
  
  .main-container-cards-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 16px;
    justify-content: space-around;
    box-shadow: 0px 38.5185px 25.4815px rgba(249, 243, 213, 0.0364444),
      0px 20px 13px rgba(249, 243, 213, 0.03),
      0px 8.14815px 6.51852px rgba(249, 243, 213, 0.0235556),
      0px 1.85185px 3.14815px rgba(249, 243, 213, 0.0144444);
  }
  
  .main-container-cards-content-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .main-container-cards-content-detail p {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
  }
  
  .main-container-cards-content-detail h3 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.05em;
  }
  
  .main-container-cards-content-detail div {
    border-radius: 8px;
    padding: 5px;
  }
  .main-container-cards-content.btc {
    background: #fdf9e5;
  }
  .main-container-cards-content-detail.btc {
    color: #8b7f50;
  }
  
  .main-container-cards-content-detail.btc div {
    background: #fbe591;
  }
  .main-container-cards-content-fullname.btc {
    color: #c1af6a;
  }
  
  .main-container-cards-content.eth {
    background: #daf7e8;
  }
  .main-container-cards-content-detail.eth {
    color: #5d9378;
  }
  
  .main-container-cards-content-detail.eth div {
    background: #a9d1bd;
  }
  .main-container-cards-content-fullname.eth {
    color: #83a393;
  }
  
  .main-container-cards-content.ltc {
    background: #ffe1e1;
  }
  .main-container-cards-content-detail.ltc {
    color: #a36b6b;
  }
  
  .main-container-cards-content-detail.ltc div {
    background: #ffb6b6;
  }
  .main-container-cards-content-fullname.ltc {
    color: #b78181;
  }
  
  .main-container-cards-content-fullname {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
  }
  
  .main-container-cards-content-chart {
    margin-top: 1rem;
    object-fit: contain;
  }
  
  .main-container-cards-content-chart img {
    width: 100%;
  }
  
  .main-container-cards-content-amount {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 29px;
    line-height: 35px;
  
    color: #0f111d;
  }
  
  .main-container-cards-content-portion {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #9d9dae;
    margin-top: 0.5rem;
  }
  @media screen and (max-width: 850px) {
    .main-container-cards-content-detail h3 {
      font-family: var(--font-family);
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 0.05em;
    }
  
    .main-container-cards-content-amount {
      margin-top: 1rem;
      font-size: 18px;
      line-height: 27px;
  
      color: #0f111d;
    }
  
    .main-container-cards-content-fullname {
      margin-top: 1rem;
      font-size: 12px;
      line-height: 15px;
    }
  
    .main-container-cards-content-portion {
      font-size: 10px;
      line-height: 12px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .main-container-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 650px) {
    .main-container-cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  