* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body,
html {
  background: #ffffff;
  height: 100vh;
}

a {
  color: unset;
  text-decoration: none;
}

.section__padding {
  padding: 4rem 6rem;
}

.user_detail__padding {
  padding: 4rem 3rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.App {
  display: flex;
  height: 100%;
}

.navbar {
  max-width: 145px;
  background-color: var(--background-navbar);
  height: 100vh;
}

.main {
  flex: 1;
}

.userdetail {
  height: 100vh;
  width: 100%;
  background-color: var(--background-navbar);
  max-width: 375px;
}

@media screen and (max-width: 1440px) {
  .userdetail {
    max-width: 300px;
  }
}

@media screen and (max-width: 750px) {
  .userdetail {
    display: none;
  }

  .navbar {
    max-width: 100px;
    position: fixed;
  }

  .main {
    margin-left: 100px;
    overflow-y: auto;
  }
}
