* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body,
html {
  background: #ffffff;
  height: 100vh;
}

a {
  color: unset;
  text-decoration: none;
}

.section__padding {
  padding: 4rem 6rem;
}

.user_detail__padding {
  padding: 4rem 3rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.App {
  display: flex;
  height: 100%;
}

.navbar {
  max-width: 145px;
  background-color: var(--background-navbar);
  height: 100vh;
}

.main {
  width: 100%;
  margin-left: 145px;

}



@media screen and (max-width: 750px) {
  .navbar {
    max-width: 100px;
  }

  .main {
    margin-left: 100px;
  }
}
